body {
  color: white;
  background-image: linear-gradient(to top right, rgb(14,58,39), rgb(37,142,118));
}

input {
    -webkit-appearance: none;
    padding: 10px;
    background-color: transparent;
    border-radius: 3px;
    border-color: white;
    width: 250px;
    height: 50px;
    border-width: thin;
    color: white;
    margin-bottom: 15px;
}

button {
    -webkit-appearance: none;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    border-color: white;
    font-weight: bold;
    width: 250px;
    height: 50px;
    border-width: thin;
    color: #0c3127;
    margin-bottom: 15px;
}

textarea {
    -webkit-appearance: none;
    padding: 10px;
    background-color: transparent;
    border-radius: 3px;
    border-color: white;
    width: 250px;
    height: 100px;
    border-width: thin;
    color: white;
    margin-bottom: 15px;
    resize: none;
}

::placeholder {
    color: white;
    opacity: 1;
}

#twitter-widget-holder {
  overflow-y: scroll;
  max-height:550px;
  max-width:100%;
  padding:20px;
  background:#fff;
  border-radius:3px;
  box-shadow:2px 2px 3px rgba(0,0,0,.1);
}

.menu {
    margin-bottom: 30px;
}

.top-buffer {
    margin-top: 20px;
}

.centered {
    text-align: center;
}

.panel {
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}

#panelwin {
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
}

.count {
    color: #00ffc3;
    font-size: 1.5em;
    font-weight: bold;
}

.panel-transparent {
    padding: 30px;
    height: 100%;
}

.leaguename {
    height: 25%;
}

.board {
    height: 75%;
}

.board-highlight {
    text-align: center;
}

.half {
    max-height: 50%;
}

.column {
    width: 50%;
}

.panel-white {
    color: #7c7e82;
    border-radius: 5px;
    padding: 30px;
    background-color: white;
    height: 100%;
}

.panel-brown {
    padding: 30px;
    border-radius: 5px;
    background-color: #605a51;
}

.dividerline {
  background-color: rgba(0,0,0,0.5);
  height: 2px;
}

.standingsTable {
  font-size: 0.8em;
}

.tableRow {
  height: 50px;
  color: white;
}

.tableRowTop {
  height: 50px;
  font-weight: bold;
}

.team {
  font-weight: bold;
  width: 50%;
}

.teamName {
  font-weight: bold;
}

.pos {
    text-align: center;
    width: 20px;
}

.lwl {
    width: 30px;
}
.foot {
    margin-top: 50px;
    bottom: 0px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #CCC;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Menu Items */
.menubox {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
