body {
  color: white;
  background-image: linear-gradient(to top right, rgb(14,58,39), rgb(37,142,118));
}

#twitter-widget-holder {
  overflow-y: scroll;
  max-height:350px;
  max-width:100%;
  padding:20px;
  background:#fff;
  border-radius:3px;
  box-shadow:2px 2px 3px rgba(0,0,0,.1);
}

.menu {
    margin-bottom: 30px;
}

.top-buffer {
    margin-top: 20px;
}

.centered {
    text-align: center;
}

.panel {
    padding: 30px;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}

.panel-transparent {
    padding: 30px;
    height: 100%;
}

.leaguename {
    height: 25%;
}

.board {
    height: 75%;
}

.board-highlight {
    text-align: center;
}

.half {
    height: 50%;
}

.column {
    width: 50%;
}

.panel-white {
    color: #7c7e82;
    padding: 30px;
    background-color: white;
    height: 100%;
}

.panel-brown {
    padding: 30px;
    background-color: #605a51;
    height: 100%;
}

.dividerline {
  background-color: rgba(0,0,0,0.5);
  height: 2px;
}

.standingsTable {
  font-size: 0.8em;
}

.tableRow {
  height: 50px;
  color: white;
}

.tableRowTop {
  height: 50px;
  font-weight: bold;
}

.team {
  font-weight: bold;
  width: 50%;
}

.teamName {
  font-weight: bold;
}

.pos {
    text-align: center;
    width: 20px;
}

.lwl {
    width: 30px;
}
.foot {
    margin-top: 50px;
    bottom: 0px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #CCC;
}

::-webkit-scrollbar-thumb {
    background: #888;
}
