{% load staticfiles %}

<!DOCTYPE html>

<html lang="en-us">
  <head>
    <title>LeagueHQ | {{ leagueName }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- custom scrollbar CSS -->
    <link rel="stylesheet" href="http://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- jQuery lib -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- custom scrollbar plugin script -->
    <script src="https://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- custom charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <!-- Vue.js library -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script>
        function myFunction(x) {
            x.classList.toggle("change");
        }
    </script>
  </head>

  <body>
    <!--Preloader-->


    <!--Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark menu">
      <div class="container justify-content-right"
            <a class="navbar-brand" href="#"><img src="{% static 'img/lhq.svg' %}" width="200" height="37"></a>
        <div class="menubox align-middle" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
      </div>
    </nav>

    <!--Content-->
    <div class="container">
      <div class="row row-eq-height top-buffer">
        <div class="col">
            <div class="leaguename">
                <h1>{{ leagueName }}</h1>
                <h6>League Id: {{ leagueId }}  |  Since {{ firstSeason }}</h6>
            </div>
            <div class="panel centered board">
                <h3>Trash Talk</h3>
                <p>Dont' hold anything back. Demolish your opponents, anonymously or not.</p>
                <form id="trashtalk" action="board/{{ leagueId }}/postonleague/" method="post">
                    {% csrf_token %}
                    <div>
                        <div class="form-group">
                          <textarea
                              placeholder="message"
                              required="required"
                              name="textarea"
                              rows="3">
                          </textarea>
                          <input
                            class="baseinput"
                            type="text"
                            name="namefield"
                            placeholder="anonymous">
                          <button type="submit">post</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col">
            <div class="panel-white centered half">
                <h3>{{ year }}'s Humiliation</h3>
                <br>
                <img src="{{ lower.logo }}" width="75px">
                <br>
                <h5>{{ lower.name }}</h5>
                <p>Scored {{ lowest }} points on Week {{ lower.week }}</p>
            </div>
            <div id ="app" class="panel-transparent board-highlight half align-middle">
                <div class="hlcont">
                    <h4 id="highlight-body"></h4>
                    <br>
                    <h6 id="highlight-name"></h6>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="panel">
                <div class="row standingsTitle centered">
                  <h3>Overall Standings</h3>
                </div>
                <div class="standingsTable">
                  <div class="row tableRowTop justify-content-between align-items-center">
                    <div class="pos"><p>Pos.</p></div>
                    <div class="lwl"><p>Logo</p></div>
                    <div class="team justify-content-start"><p>Team</p></div>
                    <div class="lwl"><p>W</p></div>
                    <div class="lwl"><p>L</p></div>
                  </div>
                  {% for s in standings %}
                  <div class="row tableRow justify-content-between align-items-center">
                    <div class="pos"><p>{{ s.standing }}</p></div>
                    <div class="lwl"><img src="{{ s.logo }}" height="35px"></div>
                    <div class="team justify-content-start"><p class="teamName">{{ s.name }}</p></div>
                    <div class="lwl"><p>{{ s.wins }}</p></div>
                    <div class="lwl"><p>{{ s.losses }}</p></div>
                  </div>
                    {% if forloop.counter < standings|length %}
                      <div class="row dividerline">
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
        </div>
      </div>
      <div class="row row-eq-height top-buffer">
        <div class="col">
          <div class="panel centered">
              <h3>Regular Season Scores</h3>
              <canvas id="line-chart" width="800" height="250"></canvas>
          </div>
        </div>
      </div>
      <div class="row top-buffer">
        <div class="col">
          <div id="panelwin" class="centered">
              <h3>Lord of the Rings</h3>
              <br>
              {% for winner in winners %}
              <img src="{{ winner.logo }}" width="75px">
              <br>
              <h5>{{ winner.name }}</h5>
              <br>
              <div class="row dividerline"></div>
              <br>
              {% endfor %}
              <p><span class="count">{{ maxrings }}</span><br>championships</p>
          </div>
          <div id="twitter-widget-holder" class="top-buffer">
              <a class="twitter-timeline" href="https://twitter.com/pedroperone/lists/fantasy-football?ref_src=twsrc%5Etfw" data-width="300" data-heigth="600" data-chrome="noheader" data-tweet-limit="5"></a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
        <div class="col">
          <div class="panel-brown centered">
              <h3>You Suck</h3>
              <br>
              {% for loser in losers %}
              <img src="{{ loser.logo }}" width="75px">
              <br>
              <h5>{{ loser.name }}</h5>
              <br>
              <div class="row dividerline"></div>
              <br>
              {% endfor %}
              <p><span class="count">{{ minrings }}</span><br>championships</p>
          </div>
        </div>
        <div class="col">
            <div id="messageboard" class="panel-transparent centered">
                <h3> Trash Talk </h3>
                {% for message in messages %}
                    {% if forloop.counter|divisibleby:2 %}
                    <div class="triangle-right">
                        <h4>{{ message.body }}</h4>
                        <h6>{{ message.name }}</h6>
                    </div>
                    {% else %}
                    <div class="triangle-left">
                        <h4>{{ message.body }}</h4>
                        <h6>{{ message.name }}</h6>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        </div>
      </div>
    </div>

    <p id="leagueId">{{ leagueId }}</p>

    <footer class="foot">
        <div class="container">
            <p>LeagueHQ. 2018 All rights reserved.</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

    <script>
        $(document).ready(function () {
            var lid = parseInt($("#leagueId").text());
            var str = 'https://leaguehouse.herokuapp.com/board/'+ lid +'/queryforleague/';
            var url = new URL(str)
            var messages = [];
            var l = 0;

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    d = data;
                    for(let i = 0; i < d.length; i++) {
                        messages.push(d[i]);
                    }
                })

            setTimeout(function afterSixSeconds() {
                l = messages.length - 1;
                $("#highlight-body").text(messages[l].fields.body);
                $("#highlight-name").text(messages[l].fields.name);
            }, 6000)
        });
    </script>

    <script>
        var lid = parseInt($("#leagueId").text());
        var year = new Date().getFullYear();
        teamScores = [];
        counter = 0;

        for(let w = 1; w <= 12; w++) {
            var url = new URL('https://games.espn.com/ffl/api/v2/scoreboard')
            var params = {leagueId:lid, seasonId:year, matchupPeriodId:w}
            url.search = new URLSearchParams(params)
            fetch(url)
            .then(response => response.json())
            .then(data => {
                var scores = data;
                for (let m = 0; m < 4; m++) {
                    for (let t = 0; t < 2; t++) {
                        var ts = {};
                        var week = w;
                        ts['teamAbbrev'] = scores['scoreboard']['matchups'][m]['teams'][t]['team']['teamAbbrev'];
                        ts['week'] = w;
                        ts['scores'] = scores['scoreboard']['matchups'][m]['teams'][t]['score'];
                        teamScores.push(ts);
                    }
                }
            })
        }

        var sortedTS = [];
        var finalSort = [];

        setTimeout(function afterEightSeconds() {
            sortedTS = teamScores.sort(function(obj1, obj2) {
                return obj1.week - obj2.week;
            });
        }, 8000)

        setTimeout(function afterNineSeconds() {
            function groupBy(collection, property) {
                var i = 0, val, index,
                    values = [], result = [];
                for (; i < collection.length; i++) {
                    val = collection[i][property];
                    index = values.indexOf(val);
                    if (index > -1)
                        result[index].push(collection[i]);
                    else {
                        values.push(val);
                        result.push([collection[i]]);
                    }
                }
                return result;
            }

            var sor = groupBy(sortedTS, "teamAbbrev");

            for(let n = 0; n < sor.length; n++) {
                var obj = {};
                obj['ab'] = sor[n][0].teamAbbrev;
                var listsc = [];
                for(let x = 0; x < sor[n].length; x++) {
                    listsc.push(sor[n][x].scores);
                }
                obj['sc'] = listsc;
                finalSort.push(obj);
            }

            new Chart(document.getElementById("line-chart"), {
                type: 'line',
                    data: {
                    labels: [1,2,3,4,5,6,7,8,9,10,11,12],
                    datasets: [
                      {
                        data: finalSort[0].sc,
                        label: finalSort[0].ab,
                        borderColor: "#34D0E5",
                        fill: false
                      }, {
                        data: finalSort[1].sc,
                        label: finalSort[1].ab,
                        borderColor: "#CEC38C",
                        fill: false
                      }, {
                        data: finalSort[2].sc,
                        label: finalSort[2].ab,
                        borderColor: "#DDAB82",
                        fill: false
                      }, {
                        data: finalSort[3].sc,
                        label: finalSort[3].ab,
                        borderColor: "#C9FF8C",
                        fill: false
                      }, {
                        data: finalSort[4].sc,
                        label: finalSort[4].ab,
                        borderColor: "#ACA9D3",
                        fill: false
                    }, {
                        data: finalSort[5].sc,
                        label: finalSort[5].ab,
                      borderColor: "#C9C9C9",
                      fill: false
                    }, {
                        data: finalSort[6].sc,
                        label: finalSort[6].ab,
                      borderColor: "#FFF47C",
                      fill: false
                    }, {
                        data: finalSort[7].sc,
                        label: finalSort[7].ab,
                      borderColor: "#DDA1BC",
                      fill: false
                    }
                    ]
                    },
                    options: {
                    title: {
                      display: false,
                      text: 'Season Scores'
                    }
                }
            });
        }, 9000)

    </script>
  </body>
</html>
